<% include partials/header.ejs %>
<br><br><br>
<div class="card text-center">
  <h5 class="card-header">Selamat Datang</h5>
  <div class="card-body">
    <h5 class="card-title">Website absen online</h5>
    <p class="card-text">Anda berhasil login!</p>
  </div>
</div>
</body>
</html>